extends layout

block content
  h1= title
  p Welcome to #{title}

  script.
    fetch('http://localhost:3000/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name: 'hoge' }),
    })
    .then(res => {
      console.log(res);
    });
