extends layout

block content
  h1= title
  p Welcome to #{title}

  script.
    // Simple Request
    fetch('http://localhost:3000/text', {
      method: 'POST',
      mode: 'no-cors',
      headers: {
        'Content-Type': 'text/plain',
      },
      body: 'foo',
    });
    // Simple Request
    fetch('https://optimal-bee-feasible.ngrok-free.app/text', {
      method: 'POST',
      mode: 'no-cors',
      headers: {
        'Content-Type': 'text/plain',
      },
      body: 'bar',
    });

    // Simple Requestには該当しない
    fetch('http://localhost:3000/json', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name: 'hoge' }),
    })
    .then(res => res.json())
    .then(data => {
      console.log(data);
    });
    // Simple Requestには該当しない
    fetch('https://optimal-bee-feasible.ngrok-free.app/json', {
      method: 'POST',
      headers: new Headers({
        'Content-Type': 'application/json',
      }),
      body: JSON.stringify({ name: 'fuga' }),
    })
    .then(res => res.json())
    .then(data => {
      console.log(data);
    });
